body{
    background-color: rgb(22, 27, 49);
}

.container-head{
    background-color: rgb(33, 9, 94);
    border-color: rgb(50, 50, 140);
}

.balance-name{
    color: rgb(40, 30, 30);
}

.balance{
    color: rgb(83, 164, 236);
}